---

---

<div data-module="slideOver" class="relative z-[100]" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!-- overlay  -->
  <div data-slideOver-overlay class="fixed inset-0 bg-gray-500 cursor-pointer"></div>

  <!-- content  -->
  <div data-slideOver-content class="fixed top-0 right-0 overflow-hidden w-[500px]">
    <div class="bg-white p-8 h-screen overflow-y-auto">
      <div class="wysiwyg wysiwyg-light">
        <h2>Lorem Title</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque veritatis, odio possimus distinctio non molestiae aut corrupti iste eligendi eius natus suscipit praesentium corporis ullam
          quaerat dolor accusantium! Culpa, atque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque veritatis, odio possimus distinctio non molestiae aut corrupti iste eligendi eius natus suscipit praesentium corporis ullam
          quaerat dolor accusantium! Culpa, atque.
        </p>

        <button type="button" class="button" data-slideOver-close>Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  [data-module="slideOver"] {
    display: none;
  }

  [data-slideOver-overlay] {
    opacity: 0;
  }

  [data-slideOver-content] {
    /* transform: translate(100%, 0); */
  }
</style>
