{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "./node_modules/prettier-plugin-twig-melody"
  ],
  "twigAlwaysBreakObjects": false,
  "twigMultiTags": [
    "nav,endnav",
    "switch,case,default,endswitch",
    "ifchildren,endifchildren",
    "cache,endcache"
  ]
}
