---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/site/PostMeta.astro";
import { generateTagsData, getUniquesTags } from "@utils/utils";

import { getCollection } from "astro:content";

const { entry } = Astro.props;

Object.assign(entry.data, { allTags: generateTagsData(entry.data.tags) });

const { Content } = await entry.render();

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  return allArticles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
---

<Layout title={entry.data.title}>
  <PostMeta entry={entry.data} />
  <div class="">
    <Content />
  </div>
</Layout>
