---
import Layout from "@layouts/Layout.astro";

export const metadata = {
  title: "Exercice 001",
  tags: ['web', 'html']
};
---

<Layout title={metadata.title}>
  <main>
    {metadata.title}

    <h3 class="">tags</h3>
    {
      metadata.tags.map((tag) => (
          <div>{tag}</div>
      ))
    }

  </main>
</Layout>

