{% set meta = {
  description: 'My description',
  title: 'My title'
} %}

{% extends '../_layout/base.twig' %}

{% block page %}
  <div class="text-blue-800 p-4">
    hello home PA
  </div>

  <div class="text-blue-800 p-4">hello home PA</div>

{% endblock %}
