---

---

<section id="section-hero" class="flex justify-center items-center p-20 bg-green-700 text-white h-[100vh]">
  <div class="wysiwyg text-center max-w-xl">
    <h1 class="h2 mb-4">Lorem Title</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam suscipit neque quod? Nemo, impedit ipsam. Tempore et quasi facere doloremque deserunt blanditiis recusandae eum,
      sapiente, laboriosam quas, officia alias.
    </p>
  </div>
</section>

<section id="section-features" class="flex justify-center items-center p-20 bg-blue-700 text-white h-[75vh] theme-light">
  <div class="text-center max-w-xl">
    <h1 class="h2 mb-4">Lorem Title</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam suscipit neque quod? Nemo, impedit ipsam. Tempore et quasi facere doloremque deserunt blanditiis recusandae eum,
      sapiente, laboriosam quas, officia alias.
    </p>
  </div>
</section>

<section id="section-about" class="flex justify-center items-center p-20 bg-green-700 text-white h-[100vh] theme-light">
  <div class="wysiwyg text-center max-w-xl">
    <h1 class="h2 mb-4">Lorem Title</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam suscipit neque quod? Nemo, impedit ipsam. Tempore et quasi facere doloremque deserunt blanditiis recusandae eum,
      sapiente, laboriosam quas, officia alias.
    </p>
  </div>
</section>

<style>
  section,
  p,
  h1 {
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  p,
  h1 {
    @apply text-white;
  }

  .theme-dark {
    @apply bg-white;

    p,
    h1 {
      @apply text-black;
    }
  }

  .theme-pink {
    @apply bg-pink-700;

    p,
    h1 {
      @apply text-white;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  console.log('SectionChangeColor')

  ScrollTrigger.create({
    trigger: "#section-features",
    start: "top center",
    scrub: true,
    markers: true,
    once: false,
    onToggle: (self) => {
      self.trigger?.classList.replace(self.isActive ? "theme-light" : "theme-dark", self.isActive ? "theme-dark" : "theme-light");
    },
  });

  ScrollTrigger.create({
    trigger: "#section-about",
    start: "top center",
    scrub: true,
    markers: true,
    once: false,
    onToggle: (self) => {
      self.trigger?.classList.replace(self.isActive ? "theme-light" : "theme-pink", self.isActive ? "theme-pink" : "theme-light");
    },
  });
</script>
