---
import Layout from "@layouts/Layout.astro";
import PostMeta from "@components/site/PostMeta.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articleEntries = await getCollection("articles");
  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

---

<Layout title='tags'>
  <div class="">
    tags
  </div>
</Layout>
