---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">📕 <span class="capitalize">{title}</span></h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Voici les sujets en relation avec : <strong class="capitalize">{title}</strong></p>
    </div>
  </div>
</div>
