---
import { SITE_NAME } from "@utils/config";
import { getPermalink } from "@utils/utils";
---

<div class="py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{SITE_NAME}</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Site dédié à l'apprentissage des techniques de développement frontend.</p>
    </div>
  </div>
</div>
