---
import Tag from '@components/ui/Tag.astro';
import Button from '@components/ui/Button.astro';
import { getPermalink } from '@utils/utils';

const { entry } = Astro.props;
---

<div class="flex">
<h1 class="h1 mb-6  max-w-[65ch]">{entry.title}</h1>
<Button label="Retour à l'accueil" class="ml-auto" url={getPermalink('home')} />
</div>

{entry.tags &&
<ul class="mb-6 flex gap-2">
  {entry.allTags.map((tag) => <li>
    <Tag slug={tag.slug} name={tag.name} />
    </li>)}
</ul>
}

{entry.desc &&
<div class="wysiwyg mb-12">
  <p>{entry.desc}</p>
</div>
}
