---
import Layout from "@layouts/Layout.astro";
import CardEntry from "@components/ui/CardEntry.astro";
import { getCollection } from "astro:content";

const articleEntries = await getCollection("articles");
---

<Layout title="Acceuil">
  <ul class="grid gap-4 grid-cols-4">
    {
      articleEntries.map((article) => (
        <li>
          <CardEntry entry={article.data} slug={article.slug} />
        </li>
      ))
    }
  </ul>
</Layout>
