---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/site/Hero.astro";
import CardEntry from "@components/ui/CardEntry.astro";
import { getCollection } from "astro:content";
import { generateTagsData } from "@utils/utils";

const allArticles = await getCollection("articles");

allArticles.forEach((article) => {
  Object.assign(article.data, { allTags: generateTagsData(article.data.tags) });
});
---

<Layout title="Acceuil">
  <Hero />
  <div class="grid gap-8 grid-cols-4">
    {allArticles.map((article) => <CardEntry entry={article.data} slug={article.slug} />)}
  </div>
</Layout>
