---
import Layout from "@layouts/Layout.astro";
import CardEntry from "@components/ui/CardEntry.astro";
import { generateTagData } from "@utils/utils";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("articles");
  const allTagsUnique = new Set();
  allPosts.forEach((post) => {
    post.data.tags &&
      post.data.tags.map((tag) => {
        allTagsUnique.add(tag);
      });
  });
  const allTagsData = generateTagData(allTagsUnique);
  return allTagsData.map((tag) => {
    const posts = allPosts.filter((post) => post.data.tags.includes(tag.name));

    posts.map((post) => {
      post.data.allTags = generateTagData(post.data.tags);
    });

    return {
      params: { slug: tag.slug },
      props: {
        tag: tag.name,
        posts: posts,
      },
    };
  });
}

const { tag, posts } = Astro.props;
const title = `Blog Posts Tagged with ${tag}`;
---

<Layout title={title}>
  <ul class="grid gap-4 grid-cols-4">
    {
      posts.map((article) => (
        <li>
          <CardEntry entry={article.data} slug={article.slug} />
        </li>
      ))
    }
  </ul>
</Layout>
