---
import Layout from "@layouts/Layout.astro";
import CardEntry from "@components/ui/CardEntry.astro";
import { getCollection } from "astro:content";
import { generateTagsData } from "@utils/utils";

const allArticles = await getCollection("articles");

allArticles.forEach((article) => {
  Object.assign(article.data, { allTags: generateTagsData(article.data.tags) });
});
---

<Layout title="Blog Tags">
  <ul class="grid gap-4 grid-cols-4">
    {
      allArticles.map((article) => (
        <li>
          <CardEntry entry={article.data} slug={article.slug} />
        </li>
      ))
    }
  </ul>
</Layout>
