---

---

<div class="flex flex-col gap-4">
  <div class="marquee" data-module="marquee" data-marquee-rate="200" data-marquee-direction="left">
    <div class="marquee__wrapper">
      <div class="marquee__item">
        <div>&nbsp;*&nbsp;Quebec * Montréal * Brossard</div>
      </div>
    </div>
  </div>

  <div class="marquee" data-module="marquee" data-marquee-rate="100" data-marquee-direction="right">
    <div class="marquee__wrapper">
      <div class="marquee__item">
        <div>&nbsp;*&nbsp;dolor * consectetur * adipi</div>
      </div>
    </div>
  </div>
</div>

<style is:global>
  .marquee {
    width: 100%;
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .marquee__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
  }

  .marquee__item {
    font-size: 5em;
    text-transform: uppercase;
  }
</style>

<script>
  import Marquee from "@utils/modules/Marquee";

  window.addEventListener("DOMContentLoaded", (e) => {
    const elMarquees = document.querySelectorAll('[data-module="marquee"]');
    console.log("elMarquees:", elMarquees);

    elMarquees.forEach((marquee) => {
      const marqueeInstance = new Marquee(marquee);
    });
  });
</script>
