---
import "@styles/main.css";
import Header from "@components/site/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900">
    <Header />
    <slot />
  </body>
</html>

<script>
  import Anchor from "@utils/modules/Anchor";

  window.addEventListener("DOMContentLoaded", (e) => {
    const elAnchors = document.querySelectorAll('[data-module="anchor"]');

    elAnchors.forEach((anchor) => {
      new Anchor(anchor as HTMLElement);
    });
  });

  import Marquee from "@utils/modules/Marquee";

  window.addEventListener("DOMContentLoaded", (e) => {
    const elMarquees = document.querySelectorAll(".marquee");

    elMarquees.forEach((marquee) => {
      new Marquee(marquee as HTMLElement);
    });
  });

  import Accordion from "@utils/modules/Accordion";

  window.addEventListener("DOMContentLoaded", (e) => {
    const elAccordions = document.querySelectorAll(`[data-module="accordion"]`);
    console.log("elAccordions:", elAccordions);

    elAccordions.forEach((accordion) => {
      new Accordion(accordion as HTMLElement);
    });
  });

  import Tab from "@utils/modules/Tab";

  window.addEventListener("DOMContentLoaded", (e) => {
    const elTabs = document.querySelectorAll(`[data-module="tab"]`);
    console.log("elTabs:", elTabs);

    elTabs.forEach((tab) => {
      new Tab(tab as HTMLElement);
    });
  });
</script>
