---

---

<div class="body" style="visibility: hidden;">
  
  <div class="wysiwyg">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
    <p>For more information about how to use the plugin and the features it includes, <a href="https://github.com/tailwindcss/typography/blob/master/README.md">read the documentation</a>.</p>
    <hr />
    <h2>What to expect from here on out</h2>
    <p>
      What follows from here is just a bunch of absolute nonsense I've written to dogfood the plugin itself. It includes every sensible typographic element I could think of, like <strong
        >bold text</strong
      >, unordered lists, ordered lists, code blocks, block quotes, <em>and even italics</em>.
    </p>
    <p>It's important to cover all of these use cases for a few reasons:</p>
    <ol>
      <li>We want everything to look good out of the box.</li>
      <li>Really just the first reason, that's the whole point of the plugin.</li>
      <li>Here's a third pretend reason though a list with three items looks more realistic than a list with two items.</li>
    </ol>
    <p>Now we're going to try out another header style.</p>
    <h3>Typography should be easy</h3>
  </div>
</div>

<script>
  import { gsap } from "gsap";

  let domReady = (cb) => {
    document.readyState === "interactive" || document.readyState === "complete" ? cb() : document.addEventListener("DOMContentLoaded", cb);
  };

  domReady(() => {
    console.log("page is fully loaded");
    const body = document.querySelector(".body") as HTMLElement;
    body.style.opacity = "0";
    body.style.visibility = "visible";

    gsap.to(".body", {
      opacity: 1,
      duration: 1,
      delay: 0.5,
      ease: "power2.inOut",
    });
  });
</script>
