---
import Anchor from "@components/site/Anchor.astro";

const menu = [
  {
    label: "Home",
    url: "#home",
  },
  {
    label: "About",
    url: "#about",
  },
  {
    label: "Features",
    url: "#features",
  },
  {
    label: "Support",
    url: "#support",
  },
  {
    label: "Contact",
    url: "#contact",
  },
];
---

<Anchor label="Background-color" />

<ul class="menu menu--bg-color">
  {
    menu.map((item) => (
      <li class="">
        <a href={item.url}>{item.label}</a>
      </li>
    ))
  }
</ul>

<Anchor label="Opacity" />

<ul class="menu menu--opacity">
  {
    menu.map((item) => (
      <li class="">
        <a href={item.url}>{item.label}</a>
      </li>
    ))
  }
</ul>

<style>
  .menu {
    display: flex;
    justify-content: center;
  }

  .menu a {
    text-decoration: none;
    padding: 2rem;
    text-align: center;
    font-weight: 700;
    transition: 0.5s;
    color: white;
    display: block;
  }

  /* bg color */
  .menu--bg-color a {
    background: #fad29c;
    color: #000;
  }

  .menu--bg-color a:hover,
  .menu--bg-color a:focus {
    background: #fff;
  }

  .menu--bg-color:not(:focus-within):not(:hover) a {
    background: #f7ffb5;
  }

  /* opacity */
  .menu--opacity a {
    opacity: 0.25;
    color: #fff;
  }

  .menu--opacity a:hover,
  .menu--opacity a:focus {
    opacity: 1;
  }

  .menu--opacity:not(:focus-within):not(:hover) a {
    opacity: 0.75;
  }
</style>
